body {
    font-family: "Oswald", sans-serif;
    background: black;
}

h1 {
    color:rgb(210, 210, 0)
}



.title {
    font-size: 60px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}


::-webkit-scrollbar-track {
  background: #1a1a1a;  
}


::-webkit-scrollbar-thumb {
  background: #ffc107;   
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #ffdd57;   
}
